@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.clip-path-star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

/** Pricing */

.stylish-grid {
  perspective: 1500px;
}

.stylish-grid figure {
  transform-style: preserve-3d;
  transform: rotate3d(-80, 60, -2, 10deg);
}
